<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  

</head>
<body class="weather-body" id="body">

    <div class="weather-container">
        <h1>Weather App <img src="{{ url_for('static', filename='images/cloud-rain-icons.png') }}" alt="Weather Icon">
        </h1>

        <form id="weather-form">
            <input type="text" id="city" placeholder="Enter City" required>
            <button type="submit">Get Weather</button>
        </form>

        <div id="weather-info" style="display: none;">
            <h2 id="city-name"></h2>
            <p id="weather-description"></p>
            <p id="temperature"></p>
            <p id="humidity"></p>
        </div>

        <div id="error-message" style="display: none; color: red;"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
